
@{
    ViewBag.Title = "TTC_GTCSVC";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/Assets/Guest/css/khungbentrai.css" rel="stylesheet" id="theme-stylesheet">
</head>
<body>
    <div id="all">
        <div id="content">

            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li>
                            @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li>Giới thiệu</li>
                </ul>
            </div>

            <div class="col-md-3">
                <!-- *** PAGES MENU ***
                _________________________________________________________ -->
                <!-- *** PAGES MENU END *** -->

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title" style="font-size:18px">Giới thiệu</h3>
                    </div>

                    <div class="panel-body">
                        <p>@Html.ActionLink("Giới thiệu chung", "TTC_GTC", "GioiThieu")</p>
                        <p>@Html.ActionLink("Cơ sở vật chất", "TTC_GTCSVC", "GioiThieu")</p>
                        <p>@Html.ActionLink("Chi bộ", "CCTC_ChiBo", "GioiThieu")</p>
                        <p>@Html.ActionLink("Ban chủ nhiệm khoa", "CCTC_BCNK", "GioiThieu")</p>
                        <p>@Html.ActionLink("Hội đồng khoa học", "CCTC_HDKH", "GioiThieu")</p>
                        <p>@Html.ActionLink("Công đoàn", "CCTC_CongDoan", "GioiThieu")</p>
                        <p>@Html.ActionLink("Văn phòng khoa", "CCTC_VPK", "GioiThieu")</p>
                        <p>@Html.ActionLink("Công viên chức khoa", "CCTC_CVCK", "GioiThieu")</p>

                    </div>
                </div>

                <!-- *** PAGES MENU END *** -->
                @*<div class="banner">
                        <a href="#">
                            <img src="../../../cntt_media/khoa-cntt.jpg" alt="Khoa CNTT" class="img-responsive">
                        </a>
                    </div>*@
            </div>

            <div class="col-md-9">

                <div class="box" id="text-page">
                    <h1 style="font-size:22px">Cơ sở vật chất</h1>

                    <p>Khoa Công nghệ thông tin hiện đang được Nhà Trường giao quản lý 08 phòng máy tính; mỗi phòng có 40 máy. Các phòng máy tính này có chức năng phục vụ các giờ học thực hành cho các môn học từ cơ bản đến chuyên ngành của khoa Công nghệ thông tin cũng như các khoa khác.</p>

                    <p>Sau đây là danh sách các phòng máy do khoa quản lý: C.A019, C.A101, C.A102, C.A105, C.A106, C.A109, C.A110, C.A111 (Lầu 1, dãy A, Cơ sở chính).</p>

                    <p><u>Quản lý phòng máy:</u></p>

                    <ol>
                        <li>CN.Ngô&nbsp;Hữu Thanh, Email: thanhnh@sgu.edu.vn</li>
                    </ol>

                    <hr>
                    <p>Post by: Khoa CNTT, ngày: 2017-08-03 13:58:32</p>
                    <p>Đính kèm: </p>


                </div>


            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
        <!-- /#content -->
    </div>
</body>

